*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Encode Sans SC', sans-serif; 
    background-color: black;
}
main{
    color: white;
}

.display-flex{
    display: flex;
}

.relative{
    position: relative;
}

header button{
    background-color: rgba(36, 36, 36, 0.837);
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin: 2px;
}

header a{
    color:white;
    text-decoration: none;
}

header{
    height: 60px;
    flex-direction: row-reverse;
    padding: 20px;
}

main > div.display-flex{
    min-width: 300px;
    overflow: auto;
    height: calc(100vh - 120px);
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.container-subject{
    width: 265px;
    height: 150px;
    margin: 10px;
}

.container-subject img{
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}

.container-subject span{
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.467);
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer{
    height: 60px;
    background-color: gray;
    color: white;
    font-size: 10px;
}

footer i{
    font-size: 28px;
}

nav{
    height: 100%;
    justify-content: space-between;
    padding-left: 20px;
}

.nav-items{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav div.container-nav:nth-child(2){
    width: 65%;
}
.mini{
    font-size: 1.2em;
}

.end-meeting{
    background-color: rgb(68, 59, 59);
    color: red;
    text-align: center;
    line-height: 60px;
}

.container-nav{
    height: 100%;
    align-content: center;
    justify-content: space-evenly;
}