*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Encode Sans SC', sans-serif; 
    background-color: black;
}
main{
    color: white;
}

.display-flex{
    display: flex;
}

.relative{
    position: relative;
}

header button{
    background-color: rgba(36, 36, 36, 0.837);
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin: 2px;
}

header a{
    color:white;
    text-decoration: none;
}

header{
    flex-direction: row-reverse;
    padding: 20px;
}

main > div.display-flex{
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.container-subject{
    flex-grow: 1;
    min-width: 150px;
    min-height: 50px;
    background-size: cover;
    background-image: url(../img/videochiamate.png);
    margin-bottom: 10px;
}

.container-subject span{
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.467);
    padding: 3px;
    position: absolute;
    bottom: 0;
}